/* footer */
#footer{
	background-color: rgb(185, 0, 17);
	height: auto;
	width: auto;
	text-align: center;
	padding: 2em;
	border-style: solid;
	border-width: .25em 0 0 0;
}

#footer a:hover{
	text-decoration: none;
	color: #000;
}


/* entries */
.entry{
	width: 100%;
	height: auto;
	background-color: rgb(50, 50, 50);
	color: white;
	border-radius: 5px;
	padding: .5em 0;
	margin: 2em 0;
}

.entryimg{
	width: 100%;
	height: auto%;
}

.entry > h4{
	margin-left: 3em;
}

.entry .row{
	margin: .1em 1em .1em 1em;
}

/* categories */
#categories > div{
	margin: 5em 0;
}
#categories a{
	padding: 3em 6em;;
}


/* misc */
#content{
	 margin:0em 2em 0em 2em;
}

h1{
	text-align: center;
}

hr{
	width: auto;
}